*{
    /* css에서는 수치가 0인 경우에 한해서 단위를 생략하여 표현할 수 있다. */
    margin: 0;
    padding: 0;
}
#container{
    border: 10px solid black;
    width: 1200px;
}
.a{
    background: red;
    width: 500px;
    height: 300px;
}
.b{
    background: orange;
    width: 500px;
    height: 200px;
    border: 10px solid lime;
}
.c{
    width: 500px;
    height: 150px;
    background-color: green;
    border: 10px solid aqua;
    box-sizing: border-box;
}


/* A : 300
B : 220
C : 130
D : 690
E : 500 */

